.ProseMirror-selectednode:has(.doc-block) {
  outline: none;
}

.doc-block {
  position: relative;
  padding-left: 0.75rem;
  margin: 0.25rem 0;
  border-left: 3px solid transparent;
  border-radius: 4px;
  padding: 12px;
  text-align: justify;
  text-wrap-style: stable;
  word-break: break-word;

  transition:
    border-color 0.15s ease,
    background 0.15s ease;
}

.doc-block--active {
  border-left-color: var(--border-active-blue-france);
  background: var(--background-alt-blue-france);
}

.doc-block--warning {
  background: var(--background-alt-yellow-tournesol);
  border-radius: 4px;
}

.doc-block--active.doc-block--warning {
  border-left-color: var(--border-default-yellow-tournesol);
}

.doc-block__banner {
  color: var(--text-default-grey);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.doc-block__banner--warning {
  background: var(--background-contrast-warning);
  border: 1px solid var(--border-plain-warning);
}

.doc-block__banner--info {
  background: white;
  border: 1px solid var(--border-default-info);
}

.doc-block__banner p,
.doc-block__banner ul {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.doc-block__generated {
  background: var(--background-alt-grey);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.doc-block {
  p,
  ul {
    margin-bottom: 0.5rem;
  }

  li > p {
    margin-bottom: 0;
  }
}
