TZ=Etc/UTC
DATABASE_URL=postgresql://fondation:secret@localhost:5435/fondation
ORIGIN_URL=http://localhost:3000
FRONTEND_ORIGIN_URL=http://localhost:5173
COOKIE_SECRET=secret-4be25593-d9d1-4f53-90ca-fce9a50b430a

S3_BUCKET=sandbox-csm-fondation-reports-context
S3_REGION=eu-west-2
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=fondation
S3_SECRET_KEY=fondation-secret
S3_FORCE_PATH_STYLE=true